body,
html {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100vh;
  background-color: rgb(244, 208, 79);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  place-items: center;
  align-content: center;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  text-align: left;
  box-shadow: 8px 8px rgb(0, 0, 0);
}

.card:hover {
  z-index: 3;
  box-shadow: 16px 16px rgb(0, 0, 0);
}

svg {
  border-radius: 15px;
  width: 100%;
}

.text-container {
  margin: 16px 0 0;
}

strong {
  background-color: rgb(244, 208, 79);
  padding: 8px 12px;
  border-radius: 5px;
}

.date {
  padding: 8px 0;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bolder;
}

.card-title:hover {
  cursor: pointer;
  color: rgb(244, 208, 79);
}

.text {
  color: rgb(163, 163, 163);
  display: block;
  width: 350px;
  line-height: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 16px 0;
}

span {
  font-weight: bold;
  margin-left: 16px;
}

footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 4px;
}
